<div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="title">Usuários</h1>
        <div class="pull-right">
          <a mat-raised-button color="primary" class="full-width" href="javascript:;" (click)="exportarUsuarios()">Exportar usuários</a>
        </div>
      </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
      <div class="pull-left col-xs-12">
        <mat-card>
          <div class="row">
            <div class="form-group">
              <mat-form-field class="col-xs-12">
                <input matInput placeholder="Buscar por nome do usuario" [formControl]="campoBusca">
              </mat-form-field>
            </div>
            <div class="form-group">
              <div class="pull-right col-xs-12 col-md-2">
                <button mat-raised-button color="primary" class="full-width" (click)="limparFiltros()">Limpar filtros</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
</div>

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <table mat-table [dataSource]="usuarios" matSort class="mat-elevation-z8" *ngIf="usuarios">    
        
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

        
          <tr mat-header-row *matHeaderRowDef="colunas"></tr>
          <tr mat-row *matRowDef="let row; columns: colunas;" class="clickable" (click)="selecionarLinha(row)"></tr>
        </table>     
    
      </div>
  </div>
</div>
