<div class="col-xs-12">
  <div class="row">

    <div class="col-xs-8">
      <h1 class="title">Eventos</h1>
    </div>

    <div class="pull-right col-xs-4">
      <button mat-raised-button color="primary" class="pull-right" [routerLink]="['new',nextOrder]">Novo Evento</button>
    </div>

  </div>
</div>

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">

      <mat-card>
        <form [formGroup]="formFiltro">
          <div class="row">

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <mat-select matInput placeholder="Busca por Categoria" formControlName="category">
                  <mat-option></mat-option>
                  <mat-option *ngFor="let categoria of categorias | async" [value]="categoria.value">{{categoria.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-6">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Busca por Data" formControlName="date" readonly
                  (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Busca por Cidade" formControlName="city">
              </mat-form-field>
            </div>

            <div class="form-group">
              <div class="pull-right col-xs-12 col-md-2">
                <button mat-raised-button color="primary" class="full-width" (click)="limparFiltros()">Limpar
                  filtros</button>
              </div>
            </div>
          </div>
        </form>


      </mat-card>


      <div class="col-xs-12">

        <div class="row">

          <div class="pull-left">
            <mat-checkbox class="example-margin" [(ngModel)]="showOnlyEventsNotFinish"
              (change)="showOnlyEventsNotFinishClick()">
              Mostrar Apenas Eventos que não ocorreram</mat-checkbox>
          </div>
          <div class="pull-right ">

            <button mat-raised-button color="primary" class="pull-right"
              (click)="modoOrdenar = !modoOrdenar">{{modoOrdenar?'Salvar ordenação':'Ordenar lista'}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="col-xs-12" [style.display]="(modoOrdenar && eventos)?'block':'none'">
  <div class="row">
    <div class="col-xs-12">
      <table mat-table [dataSource]="eventosOrdenar" class="mat-elevation-z8 cdk-drop-list-dragging" cdkDropList
        (cdkDropListDropped)="drop($event)">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"></td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="dateTimeBegin">
          <th mat-header-cell *matHeaderCellDef> Data de Início </th>
          <td mat-cell *matCellDef="let element">
            {{(element.dateTimeBegin != 'NaN' && element.dateTimeBegin != null)?(element.dateTimeBegin | date:'dd/MM/yyyy hh:mm'):('')}}
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Cidade - UF </th>
          <td mat-cell *matCellDef="let element"> {{element.city + '-' + element.uf}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;" class="clickable" cdkDrag></tr>
      </table>
    </div>
  </div>
</div>

<div class="col-xs-12" [style.display]="(!modoOrdenar && eventos)?'block':'none'">
  <div class="row">
    <div class="col-xs-12">
      <table mat-table [dataSource]="eventos" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="dateTimeBegin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Início </th>
          <td mat-cell *matCellDef="let element">
            {{(element.dateTimeBegin != 'NaN' && element.dateTimeBegin != null)?(element.dateTimeBegin | date:'dd/MM/yyyy hh:mm'):('')}}
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade - UF </th>
          <td mat-cell *matCellDef="let element"> {{element.city + '-' + element.uf}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;" class="clickable" [routerLink]="['edit',row.id]"></tr>
      </table>

      <div class="row">
        <div class="pull-left col-xs-12">
          <button mat-raised-button color="primary" class="pull-left" (click)="delete()">Deletar eventos</button>
        </div>
      </div>

    </div>
  </div>
</div>