<div class="loginBox container">
    <div class="col-md-3"></div>
    <mat-card class="col-md-6 col-xs-12">
        <mat-card-header>
            <mat-card-title>Eventsme</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form>
                <div class="form-group">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Usuario" [(ngModel)]="usuario" name="usuario" required>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Senha" [(ngModel)]="senha"type="password" name="senha" required>
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="exception">
                    <mat-error>{{exception}}</mat-error>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions class="row">
            <div class="col-xs-12 col-md-3 pull-right">
                <button mat-raised-button color="primary" class="form-control" (click)="login()">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
