<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['evento']">Eventos</a>
      <a mat-list-item [routerLink]="['usuario']">Usuários</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Events Me</span>
      <div class="btn-logout clickable" (click)="logout()">
        <span>Sair</span>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
