<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">

      <mat-card>
        <mat-card-title>{{evento.id?'Alterar':'Novo'}} Evento</mat-card-title>
        <div class="row">

          <form class="form" [formGroup]="formEvento" novalidate>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="nome">
                <mat-error>Nome é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <mat-select matInput placeholder="Categoria" formControlName="categoria" multiple>
                  <mat-option *ngFor="let categoria of categorias | async" [value]="categoria.value">{{categoria.name}}
                  </mat-option>
                </mat-select>
                <mat-error>Categoria é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Descrição" formControlName="descricao" rows="10"></textarea>
                <mat-error>Descricao é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="Link do evento" formControlName="urlPurchase">
                <mat-error>Link do evento é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-4">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data"
                  (click)="picker.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Data é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-6 col-md-4">
              <mat-form-field class="full-width">
                <mat-select matInput placeholder="Hora" formControlName="hora">
                  <mat-option *ngFor="let hora of horas" [value]="hora">{{hora}}</mat-option>
                </mat-select>
                <mat-error>Hora é obrigatório</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-xs-6 col-md-4">
              <mat-form-field class="full-width">
                <mat-select matInput placeholder="Minuto" formControlName="minuto">
                  <mat-option *ngFor="let minuto of minutos" [value]="minuto">{{minuto}}</mat-option>
                </mat-select>
                <mat-error>Minuto é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="Endereço" formControlName="endereco">
                <mat-error>Endereço é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-8 col-md-8">
              <mat-form-field class="full-width">
                <input matInput placeholder="Cidade" formControlName="cidade">
                <mat-error>Cidade é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-4 col-md-4">
              <mat-form-field class="full-width">
                <input matInput placeholder="UF" formControlName="uf">
                <mat-error>UF é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                  placeholder="Valor Mulher" formControlName="valorMulher">
                <mat-error>Valor Mulher é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-6">
              <mat-form-field class="full-width">
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                  placeholder="Valor Homem" formControlName="valorHomem">
                <mat-error>Valor Homem é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12">
              <mat-slide-toggle formControlName="active">Evento Ativo</mat-slide-toggle>
            </div>

            <div class="form-group col-xs-12">
              <mat-slide-toggle formControlName="suggested">Evento sugerido</mat-slide-toggle>
            </div>

            <div class="form-group col-xs-12">
              <mat-slide-toggle formControlName="showDetails">Exibir detalhes no app</mat-slide-toggle>
            </div>

            <div class="form-group col-xs-12">
              <mat-slide-toggle formControlName="showIndex">Aparecer na Index</mat-slide-toggle>
            </div>

            <div class="form-group col-xs-12">
              <mat-slide-toggle formControlName="marketing">Marketing</mat-slide-toggle>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <input matInput placeholder="Link de marketing" formControlName="urlMarketing">
                <mat-error>Link de publicidade é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="col-xs-12" style="margin-top: 15px;">
              <label for="">Aparecer no App a partir de:</label>
            </div>

            <div class="form-group col-xs-12 col-md-4">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerExhibition" placeholder="Data de exibiçao no App"
                  formControlName="dateExhibition" (click)="pickerExhibition.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="pickerExhibition"></mat-datepicker-toggle>
                <mat-datepicker #pickerExhibition></mat-datepicker>
                <!-- <mat-error>Data é obrigatório</mat-error> -->
              </mat-form-field>
            </div>

            <div class="form-group col-xs-6 col-md-4">
              <mat-form-field class="full-width">
                <mat-select matInput placeholder="Hora de exibiçao no App" formControlName="hourExhibition">
                  <mat-option *ngFor="let hora of horas" [value]="hora">{{hora}}</mat-option>
                </mat-select>
                <mat-error>Hora de exibição é obrigatório</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-xs-6 col-md-4">
              <mat-form-field class="full-width">
                <mat-select matInput placeholder="Minuto de exibição no App" formControlName="minuteExhibition">
                  <mat-option *ngFor="let minuto of minutos" [value]="minuto">{{minuto}}</mat-option>
                </mat-select>
                <mat-error>Minuto de exibição é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <!-- 
              url para compra events me
              valor events me
              url parceeiro
              preço parceiro
              edilsonribeiro 10/08/2019
             -->

            <div class="col-xs-12" style="margin-top: 15px;">
              <label for="">Configurações Eventsme e parceiros:</label>
            </div>

            <!-- Events me -->
            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input type="url" matInput formControlName="eventsmeUrl" placeholder="URl para Compras Eventsme" />
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                  placeholder="Valor Eventsme" formControlName="eventsmeValue">
                <mat-error>Valor Parceiro</mat-error>
              </mat-form-field>
            </div>

            <!-- Parceiro -->
            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input type="url" matInput formControlName="stubhubUrl" placeholder="URl StubHub" />
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                  placeholder="Valor StubHub" formControlName="stubhubValue">
                <mat-error>Valor StubHub</mat-error>
              </mat-form-field>
            </div>

            
            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input type="url" matInput formControlName="ticketswapUrl" placeholder="URl Ticketswap" />
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                  placeholder="Valor Ticketswap" formControlName="ticketswapValue">
                <mat-error>Valor Ticketswap</mat-error>
              </mat-form-field>
            </div>

            
            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input type="url" matInput formControlName="partnerUrl" placeholder="URl parceiro" />
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12 col-md-12">
              <mat-form-field class="full-width">
                <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                  placeholder="Valor Eventsme" formControlName="partnerValue">
                <mat-error>Valor Parceiro</mat-error>
              </mat-form-field>
            </div>

            <!-- ##################################IMAGEM-PRINCIPAL############################################# -->
            <div class="form-group col-xs-12">
              <button mat-raised-button color="basic" (click)="imagemPrincipalInput.click()">Escolher imagem
                principal</button>
              <input type="file" #imagemPrincipalInput style="display:none"
                (change)="controleTela.imagemPrincipal = $event.target.files[0]">
              <label *ngIf="controleTela.imagemPrincipal">{{controleTela.imagemPrincipal.name}}</label>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <mat-select placeholder="Proporção da imagem principal" formControlName="proporcaoImagemPrincipal">
                  <mat-option>None</mat-option>
                  <mat-option value="Retângulo 1 : 0.5">Retângulo 1 : 0.5</mat-option>
                  <mat-option value="Quadrado 1 : 1">Quadrado 1 : 1</mat-option>
                  <mat-option value="Retângulo 1 : 1.5">Retângulo 1 : 1.5</mat-option>
                </mat-select>
                <mat-error>Proporção da imagem principal é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <!-- ##################################IMAGEM-DETALHES############################################# -->
            <div class="form-group col-xs-12">
              <button mat-raised-button color="basic" (click)="imagemDetalheInput.click()">Escolher imagem
                detalhes</button>
              <input type="file" #imagemDetalheInput style="display:none"
                (change)="controleTela.imagemDetalhe = $event.target.files[0]">
              <label *ngIf="controleTela.imagemDetalhe">{{controleTela.imagemDetalhe.name}}</label>
            </div>

            <div class="form-group col-xs-12">
              <mat-form-field class="full-width">
                <mat-select placeholder="Proporção da imagem detalhe" formControlName="proporcaoImagemDetalhe">
                  <mat-option>None</mat-option>
                  <mat-option value="Retângulo 1 : 0.5">Retângulo 1 : 0.5</mat-option>
                  <mat-option value="Quadrado 1 : 1">Quadrado 1 : 1</mat-option>
                  <mat-option value="Retângulo 1 : 1.5">Retângulo 1 : 1.5</mat-option>
                </mat-select>
                <mat-error>Proporção da imagem detalhe é obrigatório</mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-xs-12">
              <button mat-raised-button color="primary" (click)="update()">Salvar</button>
            </div>

          </form>
        </div>
      </mat-card>

      <ng-template [ngIf]="evento.id && evento.downloadUrlImagePrincipal">
        <mat-card-title>Imagem princial utilizada</mat-card-title>
        <mat-card class="col-xs-12 text-center">
          <img src="{{evento?.downloadUrlImagePrincipal}}" class="col-xs-12 text-center">
        </mat-card>
      </ng-template>

      <ng-template [ngIf]="evento.id && evento.downloadUrlImageDetail">
        <mat-card-title>Imagem detalhes utilizada</mat-card-title>
        <mat-card class="col-xs-12 text-center">
          <img src="{{evento?.downloadUrlImageDetail}}" class="col-xs-12 text-center">
        </mat-card>
      </ng-template>


    </div>
  </div>
</div>