<div class="col-xs-12">
  <mat-card-title>{{usuario.name}}</mat-card-title>

  <mat-card class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field class="col-xs-12">
          <input disabled="disabled" matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="usuario.nome">
        </mat-form-field>
      </div>

      <div class="col-xs-12">
        <mat-form-field class="col-xs-12">
          <input disabled="disabled" matInput placeholder="E-mail" [(ngModel)]="usuario.email" name="usuario.email">
        </mat-form-field>
      </div>

      <div class="col-xs-12">
        <mat-form-field class="col-xs-12">
          <input disabled="disabled" matInput placeholder="E-mail" [(ngModel)]="usuario.cpf" name="usuario.cpf">
        </mat-form-field>
      </div>

      <div class="col-xs-12">
        <mat-form-field class="col-xs-12">
          <input disabled="disabled" matInput placeholder="Telefone" [(ngModel)]="usuario.telefone"
            name="usuario.telefone">
        </mat-form-field>
      </div>

      <div class="col-xs-12">
        <mat-form-field class="col-xs-12">
          <input disabled="disabled" matInput placeholder="Sexo" [(ngModel)]="usuario.sexo" name="usuario.sexo">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>