/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'assets/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.btn-group > .btn:last-child:not(:first-child){
    margin-left: 10px;
}

.mat-table tr:not(.mat-header-row):hover {
    background: #585757;
}

.clickable{
    cursor: pointer;
}

.acoes{
    margin-top: 10px;
    margin-bottom: 10px;
}
.acoes button{
    margin-right: 10px;
}

table {
    width: 100%;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
}

.check-table {
    margin-left: 10px;
}

.btn-logout {
    position: absolute!important;
    right: 0;
}

.title {
    display: inline;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
table.cdk-drop-list-dragging tr:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
    z-index: 99;
}